@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .main {
    @apply flex min-h-screen items-center justify-center bg-cover bg-no-repeat pt-32;
  }
}

.ant-tabs .ant-tabs-nav::before {
  border-bottom: none;
}

@media screen and (min-width: 992px) {
  .destination-content .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: start;
  }
}

.ant-tabs-tab-btn {
  color: #d0d6f9;
  letter-spacing: 1.2px;
}

.ant-tabs-tab-btn:hover {
  color: white;
}

:is(.crew-content, .tech-content) .ant-tabs {
  flex-direction: column-reverse;
}

@media screen and (max-width: 767px) {
  :is(.crew-content, .tech-content) .ant-tabs .ant-tabs-nav {
    margin-top: 32px;
  }
}

.tech-content .ant-tabs-content-holder {
  border-left: none;
}

.tech-content .ant-tabs-nav-list {
  justify-content: center;
  gap: 1rem;
}

.tech-content .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
  border-radius: 50%;
}

.tech-content .ant-tabs-nav-list .ant-tabs-tab:hover {
  border-color: #1677ff;
}

.ant-result .ant-result-title {
  color: whitesmoke;
}
